@charset "UTF-8";
/* CSS Document */



#review_widget{

}

#review_widget li {

}

#review_widget p {
    opacity: 1.0;
	margin: 5px;
	padding-top: 5px;
	background-color: rgb(224,220,230);
}

.review-stars{
	padding-top: 1px;
	padding-bottom: 3px;
}

.rounded-corners {
    
}

#customization_section {
	text-align: center;
}

#badge {
	padding-bottom: 10px;
	display: block;
    margin-left: auto;
    margin-right: auto 
}


